<div class="our_blog_area single_blog right_sidebar ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-12">
                <div class="post_details_inner">
                    <div class="single_post_thumbnail">
                        <img src="assets/img/blog/large_1.jpg" alt="single post thumbail">
                    </div>
                    <div class="single_post_content">
                        <div class="single_post_top_contnt">
                            <div class="single_post_title">
                                <h2>Bike safety consultation shows someone in government might understand cycling.</h2>
                            </div>
                            <div class="single_post_meta">
                                <div class="single_post_left_meta">
                                    <ul>
                                        <li>Feb 13, 2018</li>
                                        <li>By: blendpixels</li>
                                        <li>UI/UX Design</li>
                                    </ul>
                                </div>
                                <div class="single_post_right_meta">
                                    <ul>
                                        <li>2 Comments</li>
                                        <li>20 Like</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="post_excerpt">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris nisi aliquip consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat null pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris nisi aliquip consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat null pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris nisi aliquip consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse .</p>

                            <div class="row fix mt-30 mb-30">
                                <div class="col-lg-6 col-md-12 col-xs-12">
                                    <div class="post_gallery_img">
                                        <img src="assets/img/blog/gallery_1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-xs-12">
                                    <div class="additional_suupor_list">
                                        <ul>
                                            <li><i class="zmdi zmdi-check"></i>Contrary to popular belief, Lorem</li>
                                            <li><i class="zmdi zmdi-check"></i>There are many variations of passages</li>
                                            <li><i class="zmdi zmdi-check"></i>The standard chunk of Lorem Ipsum</li>
                                            <li><i class="zmdi zmdi-check"></i>Contrary to popular belief, Lorem</li>
                                            <li><i class="zmdi zmdi-check"></i>Contrary to popular belief.</li>
                                            <li><i class="zmdi zmdi-check"></i>Lorem Ipsum is simply dummy text.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris nisi aliquip consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat null pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <blockquote class="mtb-50">
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
                            </blockquote>
                            <p>Ipsum dolor sit amet, consectetur adipiscing esed do eiusmod tempor incididunt labore dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris nisi aliquip consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat null pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>


                        <!--administrator start-->
                        <div class="administrator">
                            <div class="administrator_thumb">
                                <img src="assets/img/blog/author.png" alt="">
                            </div>
                            <div class="administrator_contnet">
                                <h4>Mark Anderson</h4>
                                <p>Using the examples above, if you’re making a business website consider asking users to add themselves to an email list in order to receive updatesas leads for future sales.</p>
                                <div class="administrator_social_icon">
                                    <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                                    <a href="#"><i class="zmdi zmdi-pinterest"></i></a>
                                    <a href="#"><i class="zmdi zmdi-google-plus"></i></a>
                                    <a href="#"><i class="zmdi zmdi-whatsapp"></i></a>
                                </div>
                            </div>
                        </div>
                        <!--administrator end-->
                    </div>

                    <!--Comment box -->
                    <div class="comment_box_form mt-80">
                        <div class="comment_box_title">
                            <h3>Leave A Comment</h3>
                            <p>Your email address will not be published. Required fields are marked *</p>
                        </div>
                        <div class="leave_comment_form">
                            <form action="#">
                                <div class="text-areabox">
                                    <textarea placeholder="Type Your Comment *"></textarea>
                                </div>
                                <div class="input_box half_left">
                                    <input type="text" placeholder="Your Name *" >

                                </div>
                                <div class="input_box half_right">
                                    <input type="email" placeholder="Your Email *" >
                                </div>
                                <div class="input_box">
                                    <input type="text" placeholder="Your Website" >
                                </div>
                                <div class="submit_button_inner">
                                    <button type="submit">Submit Comment</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--Comment box end-->

                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-12">
                <div class="sidebar_right">
                    
                    <div class="sidebar_widget banner mb-65">
                        <div class="sidebar_title">
                            <h3>Search</h3>
                        </div>
                        <div class="sidebar_search">
                            <div class="search_form">
                                <form action="#">
                                    <input type="text" placeholder="Search">
                                    <button type="submit"><i class="zmdi zmdi-search"></i></button>
                                </form>
                            </div>
                        </div>
                    </div> 

                   

                    <div class="sidebar_widget recent_post mb-65">
                        <div class="sidebar_title">
                            <h3>Recent Posts</h3>
                        </div>
                        <div class="single_recent_post">
                            <div class="recent_post_img">
                                <a href="#"><img src="assets/img/blog/latest_1.jpg" alt=""></a>
                            </div>
                            <div class="post_content">
                                <h3><a href="#">Anxiety disorder affects human life </a></h3>
                                <span class="post_publist_date">March 3, 2018</span>
                            </div>
                        </div>
                        <div class="single_recent_post">
                            <div class="recent_post_img">
                                <a href="#"><img src="assets/img/blog/latest_2.jpg" alt=""></a>
                            </div>
                            <div class="post_content">
                                <h3><a href="#">Anxiety disorder affects human life</a></h3>
                                <span class="post_publist_date">March 3, 2018</span>
                            </div>
                        </div>
                        <div class="single_recent_post">
                            <div class="recent_post_img">
                                <a href="#"><img src="assets/img/blog/latest_3.jpg" alt=""></a>
                            </div>
                            <div class="post_content">
                                <h3><a href="#">Anxiety disorder affects human life</a></h3>
                                <span class="post_publist_date">March 3, 2018</span>
                            </div>
                        </div>
                    </div> 
                    
                    <div class="sidebar_widget cartegories mb-65">
                        <div class="sidebar_title">
                            <h3>Categories</h3>
                        </div>
                        <div class="widget_categories">
                           <ul>
                                <li><a href="#">Adventure Tourers <span class="caet_count">(6)</span></a></li>
                                <li><a href="#">Learner LAMS <span class="caet_count">(8)</span></a></li>
                                <li><a href="#"> Minibikes<span class="caet_count">(7)</span></a></li>
                                <li><a href="#"> Naked<span class="caet_count">(10)</span></a></li>
                                <li><a href="#">Competition<span class="caet_count">(5)</span></a></li>
                                <li><a href="#">Trail<span class="caet_count">(12)</span></a></li>
                                <li><a href="#">Scooters<span class="caet_count">(15)</span></a></li>
                            </ul>
                        </div>

                    </div>
                    
                    <div class="sidebar_widget mb-50">
                        <div class="widget_banner">
                            <div class="single_banner">
                                <a href="#"><img src="assets/img/banner/5.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    
                     <div class="sidebar_widget">
                        <div class="widget_title">
                            <h3>Tags</h3>
                        </div>
                        <div class="widget_tags">
                           <ul>
                                <li><a href="#">bike</a></li>
                                <li><a href="#">bicycle</a></li>
                                <li><a href="#">motor</a></li>
                                <li><a href="#">road bike</a></li>
                                <li><a href="#">city bike</a></li>
                                <li><a href="#">cars</a></li>
                                <li><a href="#">squters</a></li>
                           </ul>
                        </div>
                    </div>

                 </div>
            </div>
        </div>

    </div>
</div>