<div class="banner_area pt-50">
    <div class="banner_area_inner d-flex">
        <div class="col_4">
            <div class="single_banner">
                <a href="#"><img src="assets/img/banner/1.jpg" alt=""></a>
            </div>
        </div>
        <div class="col_4">
            <div class="single_banner">
                <a href="#"><img src="assets/img/banner/2.jpg" alt=""></a>
            </div>
        </div>
        <div class="col_4">
            <div class="single_banner">
                <a href="#"><img src="assets/img/banner/3.jpg" alt=""></a>
            </div>
        </div>
    </div>
</div>