<div class="latest_post pb-70">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <h2>Latest News</h2>
                </div>
            </div>
        </div>
        <div class="row mt-60">
            <div class="col-lg-4 col-md-6">
                <div class="single_blog_post mb-40">
                    <div class="post_thumbnail">
                        <a href="blog-details.html"><img src="assets/img/blog/1.jpg" alt=""></a>
                    </div>
                    <div class="post_content_meta">
                        <div class="post_meta">
                            <ul>            
                                <li>Posted March 20.</li>
                                <li>400+ View </li>
                                <li><a href="#"> 20+ Like</a></li>
                            </ul>
                        </div>
                        <div class="blog_post_desc">
                            <h2><a href="blog-details.html">Froome racing to spoil Yates’s pink Giro dream</a></h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry... </p>
                        </div>
                        <div class="read_more_btn">
                            <a href="blog-details.html">Read More <span><i class="zmdi zmdi-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_blog_post mb-40">
                    <div class="post_thumbnail">
                        <a href="blog-details.html"><img src="assets/img/blog/2.jpg" alt=""></a>
                    </div>
                    <div class="post_content_meta">
                        <div class="post_meta">
                            <ul>            
                                <li>Posted March 20.</li>
                                <li>400+ View </li>
                                <li><a href="#"> 20+ Like</a></li>
                            </ul>
                        </div>
                        <div class="blog_post_desc">
                            <h2><a href="blog-details.html">Sed ut perspiciatis unde omnis iste natus sit</a></h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry... </p>
                        </div>
                        <div class="read_more_btn">
                            <a href="blog-details.html">Read More <span><i class="zmdi zmdi-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_blog_post mb-40">
                    <div class="post_thumbnail">
                        <a href="blog-details.html"><img src="assets/img/blog/3.jpg" alt=""></a>
                    </div>
                    <div class="post_content_meta">
                        <div class="post_meta">
                            <ul>            
                                <li>Posted March 20.</li>
                                <li>400+ View </li>
                                <li><a href="#"> 20+ Like</a></li>
                            </ul>
                        </div>
                        <div class="blog_post_desc">
                            <h2><a href="blog-details.html">Quis autem vel eum tempore voluptate</a></h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry... </p>
                        </div>
                        <div class="read_more_btn">
                            <a href="blog-details.html">Read More <span><i class="zmdi zmdi-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>