<div class="newsletter_section ptb-80">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12">
                <div class="newsletter_text">
                    <h2>Get All Updates</h2>
                    <p>Sign up our newsleter today. Also get allert for new product.</p>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="newsletter_form">
                    <form action="#">
                        <input type="email" placeholder="Type your email">
                        <button type="submit">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>